.sidebar {
    background-color: #343840;
    height:600px;
    overflow-y: scroll;
}

.list-group-item {
    background-color: transparent;
    color:grey;
}

.main-content {
    background-color: #e9e9e9;
}

.table {
    background-color: white;
}